<!DOCTYPE html>
<html lang="en">
  <!-- auth-login.html  21 Nov 2019 03:49:32 GMT -->

  <head>
    <meta charset="UTF-8" />
    <meta
      content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no"
      name="viewport"
    />
    <title>Crypto Admin Panel</title>
    <!-- General CSS Files -->
    <link rel="stylesheet" href="/assets/css/app.min.css" />
    <link
      rel="stylesheet"
      href="/assets/bundles/bootstrap-social/bootstrap-social.css"
    />
    <!-- Template CSS -->
    <link rel="stylesheet" href="/assets/css/style.css" />
    <link rel="stylesheet" href="/assets/css/components.css" />
    <!-- Custom style CSS -->
    <link rel="stylesheet" href="/assets/css/custom.css" />
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="/assets/img/favicon.ico"
    />
  </head>

  <body>
    <div class="loader"></div>
    <div id="app">
      <section class="section">
        <div class="container mt-5">
          <div class="row">
            <div
              class="col-12 col-sm-8 offset-sm-2 col-md-6 offset-md-3 col-lg-6 offset-lg-3 col-xl-4 offset-xl-4"
            >
              <div class="card card-primary">
                <div class="card-header logo">
                  <h4>Login</h4>
                </div>

                <div class="card-body">
                  <form>
                    <div class="form-group">
                      <label for="username">Username</label>
                      <input
                        id="username"
                        type="text"
                        class="form-control"
                        name="username"
                        placeholder="username"
                        tabindex="1"
                      />
                    </div>
                    <div class="form-group">
                      <div class="d-block">
                        <label for="password" class="control-label"
                          >Password</label
                        >
                      </div>
                      <input
                        id="password"
                        type="password"
                        class="form-control"
                        name="password"
                        placeholder="Enter your password"
                        tabindex="2"
                      />
                    </div>
                    <div class="form-group">
                      <div class="custom-control custom-checkbox">
                        <input
                          type="checkbox"
                          name="remember"
                          class="custom-control-input"
                          tabindex="3"
                          id="remember-me"
                        />
                        <label class="custom-control-label" for="remember-me"
                          >Remember Me</label
                        >
                      </div>
                    </div>
                    <div class="form-group">
                      <button
                        type="submit"
                        class="btn btn-primary btn-lg btn-block"
                        tabindex="4"
                      >
                        Login
                      </button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
    <!-- General JS Scripts -->
    <script src="/assets/js/app.min.js"></script>
    <script src="/assets/js/scripts.js"></script>
    <script src="/assets/js/custom.js"></script>

    <script src="/assets/js/getFormData.js"></script>
    <script src="/assets/js/displayPP.js"></script>
    <script src="/assets/js/popper.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
    <script src="/assets/js/script.js"></script>
    <script src="/assets/js/snackbar.min.js"></script>
    <script src="/assets/js/switch.min.js"></script>
    <script src="/assets/js/timepicker.js"></script>
    <script src="/assets/js/getFormData.js"></script>
    <script src="/assets/js/getParam.js"></script>
    <script src="/assets/js/ckeditor/ckeditor.js"></script>
    <script src="/assets/js/ck.js"></script>
  </body>

  <script
    src="https://code.jquery.com/jquery-3.5.1.min.js"
    integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
    crossorigin="anonymous"
  ></script>

  <script>
    var form = $("form");
    console.log(form);

    form.on("submit", submitHandler);

    function submitHandler(e) {
      e.preventDefault();

      // DO POST
      $.ajax({
        type: "POST",
        contentType: "application/json",
        url: window.location + "/../login",
        data: JSON.stringify({
          username: $("#username").val(),
          password: $("#password").val(),
        }),
      })
        .done((res) => {
          if (res == "success") {
            window.location.href = "/";
          } else {
            window.location.href = res;
          }
        })
        .fail(function (xhr, status, error) {
          alert(xhr.responseText);
        });
    }
  </script>
</html>
